<!DOCTYPE html>
<html>
  <head>
    <title>Gmail Automator</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/skeleton.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="container">
      <h1 class="header">Gmail Automator</h1>
      <div class="gmail-form">
        <input class="u-full-width" placeholder="Enter your subject line" id="email-subject"></input>
        <textarea class="u-full-width" placeholder="Put your email template here" id="email-body"></textarea>
      </div>
    </div>
  </body>
</html>

<!--
Outgoing Mail (SMTP) Server: smtp.gmail.com
Use Authentication: Yes
Use Secure Connection: Yes (this can be TLS or SSL depending on your mail client)
Username: GMail account (email@gmail.com)
Password: GMail password
Port: 465 or 587 -->